# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# SQLite DB
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# Docker
*.sqlite3

# Misc
*.swp